.container-detail-movie{
    margin-top: 100px;
}

.detail-movie{
    display: flex;
    justify-content: center;
}

.genre-container{
    display: flex;
}

.genre{
    margin-right: 10px;
}

.card-image:hover{
    cursor: pointer;
}